@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:#FF8400;
}
body{
    background: #FFF7D4;
}
.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    z-index: 100;
    background:#4F200D ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    color: #FF8400;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

/* .logo::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FF8400;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
} */

.navbar a{
    font-size: 18px;
    color: #FF8400;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px;
    transition: .3s;
}
.navbar a:hover{
    color: #00abf0;
}
.navbar::before{
        content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}


.home {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;   
    color:#4F200D;
    padding: 0 13%;
    display: flex;
    align-items: center;

}

/* .home::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;

} */

.home-content {
    position: relative;
    padding-right: 10%;
    /* max-width: 600px; */

}
.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
}
/* .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s;
} */
.home-content h3 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 1%;
}
/* .home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
} */
.home-content p {
    font-size: 18px;
}
/* .home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
} */

.home-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    object-fit: contain;
}

/* .home-img::before{
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height: 100%;
    background:#FFF7D4;
    animation-name: showRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;
} */

.home-img img{
    /* object-fit: contain; */
    overflow: hidden;
    min-height:400px;
    min-width:300px;
    border-radius: 100%;
    border: .2rem solid #FF8400;
}
.btn a {
    display: inline-block;
    background: #FF8400;
    color: #fff;
    padding: 12px 34px;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: .3s;
}
.btn a:hover {
    background: #00abf0;
}

.inactive{
    display: none;
}

/* .active{
    display: block;
} */


.about {
    position: relative;
    padding-bottom: 8%;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF7D4;
    color:#4F200D;
    /* animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s; */
}

.about-content{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 7%;
}

.about-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}
.about-content h3{
    font-size: 36px;
    padding: 1%;
}
.about-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 100%;
    border: .2rem solid #FF8400;
}

.about-content p {
    font-size: 18px;
}

#project-carousel {
    display: flex;
    justify-content: center;
}
  
.projects{
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    background:#FFF7D4;
}

.project-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    height: 55%;
    width: 55%;
    margin-left: 22.5%;
}

.projects h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
 
}

.project{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 4%;
 
}

.project .project-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem #4F200D;
    overflow: hidden;
    border-radius: 2rem;
    gap: 2.5rem;
    height: 100%;
    width: 100%;
}

.project-box .project-content{
    font-size: .65em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.1), #4F200D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
    height:5;
    transform: translateY(100%);
}

.project-box:hover .project-content{
    transform: translateY(0);
    transition: 0.5s ease;
}

.project-box img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    transition: 0.5s ease;

}

.project-box img:hover{
    transform: scale(1.1);
    transition: .5s;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes showLeft {
    100% {
        width: 100%;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(500px) translateY(500px);

    }
    100% {
        /* transform: translateX(0) translateY(0); */

    }
 }   


 